.container {
  height: 100vh;
}

.sidenav-content {
  display: flex;
}

.sidenav {
  display: block;
  min-width: 320px;
  margin: auto;
  width: fit-content;
}

.navbar-top {
  display: flex;
  position: fixed;
  background-color: whitesmoke;
  width: 100%;
  padding: 18px;
}

.sidenav div {
  display: flex;
  margin: 15px;
  justify-content: center;
  padding: 10px;
}

#title-card{
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkcyan;
  margin : 5px;
  background-color: white;
}

mat-drawer{
  background-color: whitesmoke;
}

.navlink-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#navbar-top-right {
  display: flex;
  margin: 0px 25% 0px auto;
}

#router-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 85px;
  padding: 10px;
}

#employee-control{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.controls {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.controls:hover {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .sidenav {
    min-width: 300px;
  }
}
