<mat-drawer-container class="container" autosize>
  <!--Side Nav Bar-->
  <mat-drawer #drawer class="sidenav" mode="side">
    <div id="title-card"></div>
  </mat-drawer>

  <!--Content-->
  <div class="sidenav-content">
    <!--Top Nav Bar-->
    <div class="navbar-top">
      <div
        (click)="drawer.toggle(); drawerOpen = !drawerOpen"
        class="navlink-div"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          *ngIf="!drawerOpen"
          class="icons"
          >menu</mat-icon
        >
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          *ngIf="drawerOpen"
          class="icons"
          >menu_open</mat-icon
        >
      </div>
      <div class="navlink-div">Management Dashboard</div>
      <div id="navbar-top-right">
        <div routerLink="login" class="navlink-div" *ngIf="!authenticated">SignIn</div>
        <div routerLink="signup" class="navlink-div" *ngIf="!authenticated">SignUp</div>
        <div routerLink="signup" class="navlink-div" *ngIf="authenticated">{{managerName}}</div>
        <div (click)="logout($event)" class="navlink-div" *ngIf="authenticated">Logout</div>
      </div>
    </div>

    <!--Router Outlet-->
    <div id="router-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
